/* CSS Variables for Colors  */

:root {
  --primary-dark-color: #1f2937;
  --base-white: #f9faf8;
  --base-grey: #e5e7eb;
  --base-blue: #3882f6;
  --base-black: #1f2937;
}

/* CSS Reset  */

*,
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* Body Styles  */
body {
  font-family: 'Roboto', 'sans-serif';
}

/* Header Styles  */